---
import { Image } from "astro:assets";

interface Props {
	title: string;
	body: string;
	href: string;
	buttonText: string;
	imageSrc: ImageMetadata;
}

const { href, title, body, buttonText, imageSrc } = Astro.props;
---

<div class="card glass w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-3xl 2xl:max-w-4xl mx-auto">
	<figure>
		<Image
			src={imageSrc}
			alt={title}
			class="w-full h-48 sm:h-56 md:h-64 lg:h-72 xl:h-80 object-cover"
		/>
	</figure>
	<div class="card-body p-4 sm:p-6 md:p-8 lg:p-10">
		<h2 class="card-title text-lg sm:text-xl md:text-2xl lg:text-3xl">{title}</h2>
		<p class="text-sm sm:text-base md:text-lg lg:text-xl">{body}</p>
		<div class="card-actions justify-end mt-4">
			<a href={href} class="btn btn-primary text-xs sm:text-sm md:text-base lg:text-lg">{buttonText}</a>
		</div>
	</div>
</div>
